# Backend Framework
Flask==2.2.2
Werkzeug
Flask-Login
Flask-SQLAlchemy

# Data Processing
polars==0.19.12
connectorx==0.4.3
openpyxl

# Database & Security
SQLAlchemy
mysql-connector-python
cryptography
psycopg2-binary

# Utilities
requests
python-dotenv==0.21.0